header {
    text-align: center;
    border: 2px solid black ;
}

section{
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 10%;
}

button {
    width: 10%;
    background-color:aqua;
}
 
